html {
    width: calc(100% - 50px);
}
body {
    min-width: 900px;
    max-width: none;
    width: 100%;
    margin: 0 25px;
}
.content {
    margin: 2em;
}
h1 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}
h2 {
    font-size: 10pt;
    line-height: 1 !important;
    margin: 0.25em 5px !important;
}
h3 {
    margin: 0em 5px !important;
    line-height: 1.2 !important;
    font-size: 8pt;
    color: #999999;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

.deli-selector {
    padding: 5px !important;
}

.deli-selector label {
    font-size: 8pt !important;
    color: #0275d8 !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.hide-title label {
    color: #00000000 !important;
}

.deli-selector select {
    background-image: none !important;
    border-radius: 0px !important;
    padding: 0 !important;
}

.deli-selector select option:checked {
    background: #b3d7ff repeat url("../images/cool-blue.png");
}


.deli-selector select option::before {
    content: "  ";
}

.sides, .build-your-own, .specials, .tools, .data, .axes-checkboxes{
    border: 1px solid #991a5f !important;
    border-radius: 5px !important;
}

.data, .tools, .specials{
    background-color: #ffffff !important;
}

.sides, .build-your-own, .axes-checkboxes{
    background-color: #ffffff !important;
}

.axes-checkboxes{
    height: 224px !important;
}

.controls{
    font-size: 8pt !important;
}

.controls-footer{
    color: #0275d8 !important;
    margin: 0 5px !important;
}

.controls-footer a:link, a:visited, a:hover, a:focus, a:active{
    color: #0275d8 !important;
    font-weight: unset;
}

.tabs .bk-headers-wrapper {
    border-bottom: 0px !important;
}

.panel-outer {
    background-color: #ffcfe7 !important;
    border: 1px solid #991a5f !important;
    border-radius: 0px 5px 5px 5px !important;
    width: 512px !important;
    height: 480px !important;
}

.panel-inner {
    margin: 10px !important;
}

.tabs .bk-tab.bk-active{
    background-color: #ffcfe7 !important;
    border-color:#991a5f !important;
}

.tabs .bk-tab:hover{
    background-color: #ffcfe7 !important;
}
