html {
    width: 100%;
}
body {
    min-width: 600px;
    max-width: 900px;
    width: 100%;
    margin: 0 25px;
}
.content {
    margin: 2em;
}
h1 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}
h2 {
    font-size: 10pt;
    line-height: 1 !important;
    margin: 0.25em 5px !important;
}
h3 {
    margin: 0em 5px !important;
    line-height: 1.2 !important;
    font-size: 8pt;
    color: #aaaaaa;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}
.videoWrapper {
    margin-top: 30px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-image {
}

.deli-selector {
    padding: 5px !important;
}

.deli-selector label {
    font-size: 8pt !important;
    color: #0275d8 !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.deli-selector select {
    background-image: none !important;
    border-radius: 0px !important;
    padding: 0 !important;
}

.deli-selector select option:checked {
    /* 
    HACK: Keep the color blue even when
    the element is not focused. We need
    to update the url to this image
    if the app changes location.
    */
    background: #b3d7ff repeat url("https://raw.githubusercontent.com/adrn/delicatessen/master/scratch/delicatessen/templates/cool-blue.png");
}


.deli-selector select option::before {
    content: "  ";
}

.sides, .build-your-own, .specials, .data{
    border: 1px solid #dddddd !important;
    border-radius: 5px !important;
}

.controls{
    font-size: 8pt !important;
}

.controls-footer{
    color: #0275d8 !important;
    margin: 0 5px !important;
}

.controls-footer a:link, a:visited, a:hover, a:focus, a:active{
    color: #0275d8 !important;
    font-weight: unset;
}

.or-spacer{
    color: #ff0080;
    font-weight: 500;
    font-size: 13pt !important;
    height: 30px !important; 
    width: 30px !important;
    top: 100px !important; 
    position: relative !important;
    left: 153px !important;
    background: #fff !important;
    border-radius: 50%; 
    border: 1px solid #ff0080 !important;
    display:inline-block;
    margin-top: 5px !important;
    padding-left: 1px !important;
    z-index:99;
}

.or-spacer::after{
    content: " or"
}